@import "./colors";

.story-container, .current-stories {
    background-color: $light;
    padding: 20px;
    margin: 20px 0;
}

.story-container:hover {
    border: 1px solid $secondary;
    cursor: pointer;
    transition: all 0.5s;
}