$light: #e4e3e3;
$primary: #3b6978;
$secondary: #84a9ac;
$dark: #204051;
$background: #f6f6f6;

body {
    background: $background;
}

.story-container {
    background-color: $light;
    padding: 10px;
    margin: 20px 0;
}

.navbar-dark {
    background: $dark;
    
    .navbar-nav .nav-link {
        color: $light;
    }
}

.btn-light{
    background-color: $light;
    border-color: $light;
    color: $dark;
}